# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Ukonnen/.vs/
Ukonnen/Debug/
Ukonnen/Ukonnen/Debug/
Ukonnen/packages/
Ukonnen/Ukonnen.Tests/Debug/
/Ukonnen/Ukonnen/x64/Debug
/Ukonnen/Ukonnen.Tests/x64/Debug/Ukonnen.Tests.tlog
/Ukonnen/Ukonnen.Tests/x64/Debug
/Ukonnen/x64/Debug
